# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
Bildschirmfoto 2025-12-29 um 23.56.37.png
Bildschirmfoto 2025-12-29 um 23.56.55.png
Bildschirmfoto 2025-12-29 um 23.57.12.png
Bildschirmfoto 2025-12-29 um 23.58.25.png
Bildschirmfoto 2025-12-29 um 23.58.57.png
Bildschirmfoto 2025-12-29 um 23.59.03.png
Bildschirmfoto 2025-12-29 um 23.59.24.png
Bildschirmfoto 2025-12-29 um 23.59.36.png
